@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --bg-colour: #eeebff;
  --select-colour: #3fffb2;
  --focus-colour: #ae57ff;
  --h1-colour-mobile: #8400ff;
  --h1-colour-desktop: #000000;
}

body {
  background-color: var(--bg-colour);
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TEXT STYLES */

h1,
h2,
label,
input,
button,
span {  
  font-family: Rubik;  
}

h1::selection,
h2::selection,
label::selection,
input::selection,
button::selection,
span::selection { 
  background-color: var(--bg-colour);
}

h1 {
  color: var(--h1-colour-mobile);
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

input,
label,
button,
::placeholder {
  font-size: 1.4rem;    
}

li {
  list-style: none;
}

.todo-label {
  word-break: break-all;
}

.todo-name {  
  line-height: 2rem;
}

input:focus,
button:focus {  
  outline: 4px solid var(--focus-colour);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* LAYOUT STYLES */

.app-wrapper {
  border-radius: 2rem;
  width: clamp(10rem, calc(80% + 2rem), 40rem);  
  margin: 0 auto;
  margin-block: 4rem;
  padding-block: 1rem 2rem;
}

h1,
h2 {
  text-align: center;
}

.todo-form {
  margin-block-end: 2rem;
  display: flex;  
  flex-direction: column;
  align-items: center;
}

input,
button {
  margin: 0.5rem;
  border-radius: 2rem;
  padding: 0.5rem;
}

.input-wrapper {
  margin: 0 auto;
  width: fit-content;  
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

ul {
  margin: 0;
  padding: 0;
}

.viewTemplate {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 2rem;
}

.checkbox-wrapper {
  width: auto;
}

.btn-group-view {
  width: fit-content;
}

.editingTemplate {  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 2rem;
}

input.todo-text {
  background-color: transparent;
  width: fit-content;
  margin-inline-start: 1.2rem;
}

.clearButton {
  margin-block-end: 0.2rem;
  margin-inline-end: 2rem;
  display: flex;
  justify-content: flex-end;
}

/* Media queries for all screens except very small mobile */

@media (min-width: 500px) {

  body {
    background-image: url("background.png");
    background-size: 32rem;
  }

  h1 {
    color: var(--h1-colour-desktop);
    font-size: 3rem;
  }
  
  input,
  label,
  button,
  ::placeholder {
    font-size: 1.2rem;    
  }

  .app-wrapper {
    background-color: var(--bg-colour);
  }

  .viewTemplate {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkbox-wrapper {
    width: clamp(50%, calc(90% - 11rem), 60%);
  }

  .clearButton {
    justify-content: center;
    margin-inline-end: 0;
  }

}